  <div class="row">
    <div class="col-lg-8" style="margin-left:20px">
      <div class="btn-group pull-left" role="group">
         <a type="button" href="/flowers/create" class="btn btn-success">Add New Product</a>
      </div>
      <br/>
      <br/>
    <table class="table table-striped table-hover ">
      <thead>
          <tr>
            <th data-field="name" width="10%">Product Name</th>
            <th data-field="type" width="10%">Type</th>
            <th data-field="farm" width="10%">Farm</th>
            <th data-field="farm" width="10%">Tracking Number</th>
            <th width="20%"></th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="flower in flowers">
            <td style="vertical-align:middle" width="10%">{{flower.name}}</td>
            <td style="vertical-align:middle" width="10%">{{flower.productType}}</td>
            <td style="vertical-align:middle" width="10%">{{flower.farm}}</td>
            <td style="vertical-align:middle" width="10%">{{flower.trackingNumber}}</td>
            <td class="pull-right">
              <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                   <button ng-click="createFlowerLabel(flower._id)" type="button" class="btn btn-success">Create Label</button>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                   <button go-click="/flowers/edit/{{flower._id}}" type="button" class="btn btn-success">Edit</button>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                   <button ng-click="remove(flower)" type="button" class="btn btn-primary">Delete</button>
                </div>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  </div>
