<style>
.logoHolder {
  height: 175px;
  border: 1px solid black;
  width: 100%;
}
</style>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Product Details</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="col-lg-8">
            <div class="form-group">
              <div class="col-lg-4">
                <label for="selectedFlowerType">Product Type</label>
                <select ng-model="selectedProductType" ng-options="productType.name for productType in productTypes" class="form-control" id="selectedProductType">
                  <option>Please select a Product type</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-8">
                <label for="inputName">Name</label>
                <input ng-model="flower.name" type="text" class="form-control" id="inputName">
              </div>
              <div class="col-lg-4">
                <label for="selectedFlowerType">Type</label>
                <select ng-model="selectedFlowerType" ng-options="flowerType.name for flowerType in flowerTypes" class="form-control" id="selectedFlowerType">
                  <option>Please select a type</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label for="inputOrigin">Origin</label>
                <input ng-model="flower.origin" type="text" class="form-control" id="inputOrigin">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label for="selectedFarm">Grown By</label>
                <select ng-model="selectedFarm" class="form-control" id="selectedFarm">
                  <option ng-repeat="farm in farms">{{farm.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-4">
                <md-checkbox ng-model="data.cb1" class="md-primary" aria-label="Add a processor?">
                  Add a processor?
                </md-checkbox>
              </div>
              <div class="col-lg-8">
                <div ng-if="data.cb1" class="form-group">
                  <div class="col-lg-12">
                    <label for="selectedProcessor">Processed By</label>
                    <select ng-model="selectedProcessor" class="form-control" id="selectedProcessor">
                      <option ng-repeat="processor in processors">{{processor.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Batch Details</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">

          <div class="form-group">
            <div class="col-lg-4">
              <label for="selectedLab">Tested By</label>
              <select ng-model="selectedLab" class="form-control" id="selectedLab">
                <option ng-repeat="lab in labs">{{lab.name}}</option>
              </select>
            </div>
            <div class="col-lg-4">
              <label for="inputTracking">Tracking #</label>
              <input ng-model="flower.trackingNumber" type="text" class="form-control" id="inputTracking">
            </div>
            <div class="col-lg-4">
              <label for="inputTestedOn">Tested On</label>
              <input ng-model="flower.testedOn" type="text" class="form-control" id="inputTestedOn">
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Test Results</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-warning col-lg-12" role="alert">Please do not use the % sign at the end of test results. It adds it automatically.</div>
        <form class="form-horizontal">

          <div class="form-group">
            <div class="col-lg-2">
              <label for="inputTHC">Total Cannabinoids</label>
              <input ng-model="flower.totalCannabinoids" type="text" class="form-control" id="inputTotal">
            </div>
            <div class="col-lg-2">
              <label for="inputTHC">THC</label>
              <input ng-model="flower.thc" type="text" class="form-control" id="inputTHC">
            </div>
            <div class="col-lg-2">
              <label for="inputTHC">THCa</label>
              <input ng-model="flower.thca" type="text" class="form-control" id="inputTHCa">
            </div>
            <div class="col-lg-2">
              <label for="inputName">CBD</label>
              <input ng-model="flower.cbd" type="text" class="form-control" id="inputCBD">
            </div>
            <div class="col-lg-2">
              <label for="inputName">CBG</label>
              <input ng-model="flower.cbg" type="text" class="form-control" id="inputCBG">
            </div>
            <div class="col-lg-2">
              <label for="inputName">CBN</label>
              <input ng-model="flower.cbn" type="text" class="form-control" id="inputCBN">
            </div>
          </div>
          <br/>
          <div class="form-group">
            <div class="col-lg-4">
              <md-checkbox ng-model="data.terpeneProfile" class="md-primary" aria-label="Terpene Profile?">
                Terpene Profile?
              </md-checkbox>
            </div>
          </div>
          <div class="form-group" ng-if="data.terpeneProfile">
            <div class="col-lg-3">
              <label for="selectTerpeneOne">Terpene 1</label>
              <select ng-model="selectTerpeneOne" class="form-control" id="selectTerpeneOne">
                <option ng-repeat="terpene in terpenes">{{terpene.name}}</option>
              </select>
            </div>
            <div class="col-lg-2">
              <label for="terpeneOneValue">Value (mg/g)</label>
              <input ng-model="flower.terpeneOneValue" type="text" class="form-control" id="terpeneOneValue">
            </div>
            <div class="col-lg-3">
              <label for="selectTerpeneTwo">Terpene 2</label>
              <select ng-model="selectTerpeneTwo" class="form-control" id="selectTerpeneTwo">
                <option ng-repeat="terpene in terpenes">{{terpene.name}}</option>
              </select>
            </div>
            <div class="col-lg-2">
              <label for="terpeneTwoValue">Value (mg/g)</label>
              <input ng-model="flower.terpeneTwoValue" type="text" class="form-control" id="terpeneTwoValue">
            </div>
            <div class="col-lg-2">
              <label for="terpeneSum">Sum of Total Terpenes (mg/g)</label>
              <input ng-model="flower.terpeneSum" type="text" class="form-control" id="terpeneSum">
            </div>
          </div>
          <br/>
          <div class="form-group pull-right" style="margin-top:20px;padding-right:20px">
            <button class="btn btn-default" ng-click="createFlowerLabel(flower)">Create Label</button>
            <button class="btn btn-default" ng-click="cancelCreateFlower()">Cancel</button>
            <button ng-click="save(flower)" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
